a{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

body {
    background-color: blanchedalmond;
}
nav ul{
    list-style-type: none;
    background-color: gold;
}

nav ul li{
    display: inline; 
    color: black;
    padding-right: 15px;
}
table{
    margin: 0 auto 0 auto;
}

th, td{
    text-align: left;
    width: 190px;
    padding 10px;
    border: 1px solid black;
}

a:hover{
    color: red;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.br{
    position: absolute; 
    bottom:8px; 
    right:16px;
    font-size: 75px;
}

.main-nav{
    text-align: right;
}

.foot-nav{
    text-align: center;
}